 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Front-end</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-vuejs-line colored"></i>
      <i class="devicon-typescript-original colored"></i>
      <i class="devicon-sass-original colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <p>I lean towards the backend but there's no denying how much bang for your buck a good front end gets you.
        I eventually got tired of my artistically talented family complaining about how my projects looked
        so I finally invested in putting in the time to make some slick user experiences.</p>
    </div>
    <div class="tech">
      <h2>Back-end</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-django-line colored"></i>
      <i class="devicon-laravel-plain-wordmark colored"></i>

      <p>There's something so satisfying about being able to live on the backend. Being able to think about all the expected
        behaviour while writing tests, then jamming the code till they all pass. Not to mention being able to create beautifully designed
        code with tight abstractions that are flexible, modular and future minded.
      </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <i class="devicon-android-plain colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-mysql-plain colored"></i>
      <i class="devicon-mongodb-plain colored"></i>
      <p>One of my favourite things about working on personal projects is having the opportunity to be exposed to a
        range of tools at a more intimate level than I get at work. If there's something funky going on in the pipeline, I'm the
        one that's got to figure out what's going on.
      </p>
    </div>
</div>
