 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Front-end</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <p>I love to leverage new technology to efficiently create beautiful, smooth front end user experiences.</p>
    </div>
    <div class="tech">
      <h2>Back-end</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>

      <p>From standalone GUI applications to microservices and RESTful APIs, I'll always find the 
        perfect tool to get the job done.
      </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-mysql-plain colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <p>Everything from version control to database management, I love to work with the tech that creates the best results.
      </p>
    </div>
</div>
