.project-section {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    margin: 0 auto;
    padding-top: 10vh;
    text-decoration: none;
}

.project-title {
    margin: 40px auto 30px auto;
}

.navbar {
    position: absolute;
    display: flex;
    width: 100%;
    height: 10vh;   
    justify-content: space-around;
    align-content: center;
    align-items: center;
    justify-items: stretch;
}

.nav-item {
    z-index: 5;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    
}

.nav-title {
    font-weight: bolder;
    font-size: 22px;
}

.thumbnail {
    align-self: center;
    margin: 2vh 0;
}


.call-to-action {
    display: inline-block;
    text-align: center;
    justify-self: center;
    align-self: center;
    padding: 5px 10px;

}



.particles-navbar{
    background: linear-gradient($main, $grad);
    position: absolute;
    vertical-align: bottom;
    width: 100%;
    min-height: 10vh !important;
    max-height: 10vh !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .particles-js-canvas-el {
      width:100% !important;
      height:10vh !important;
    }
  }



  .up {
    color: black;
    position: relative;
    bottom: -100px;
    width: 100%;
    margin: 40px auto 0 auto;
    display: block;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    .icon {
        position: relative;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        left: 0%;
        width: 100px;
        height: 100px;
        fill: black;
        -webkit-animation: pulse 1.3s infinite;
        animation: pulse 1.3s infinite;
        &:hover {
          color: $sec;
        }
        &:active {
          color: $sec;
        }
    }
  }

