---
---
<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <div id="particles-js" class="particles-navbar">
            <nav class="navbar">
                <a class="nav-item" href={{"/#about" | prepend: site.baseurl}}>About Me</a>
                <a class="nav-title nav-item" href={{"/#" | prepend: site.baseurl}}>Ethan Mitchell</a>
                <a class="nav-item" href={{"/#projects" | prepend: site.baseurl}}>Projects</a>
            </nav>
        </div>
        <section class="project-section">
            
            <div class="project-title">
                <h1>{{ page.title }}</h1>
            </div>

            <img alt="{{page.thumbnail-alt}}" src="{{ page.thumbnail | prepend: "../" | prepend: site.baseurl }}" />

            <div class="call-to-action" >
                <a class="project-link" href="{{page.action-dest}}">{{page.action}}</a>
            </div>


            <div class="project-content">
                {{ content }}
            </div>
        </section>
        <a class="up" href="#" data-scroll><i class="icon fa fa-chevron-up" aria-hidden="true"></i></a>
        
    </body>
    
    {% include footer.html %}
    
</html>